.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #00263b;
}

.us-state-map {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
}

.WA {
  fill: red;
}

path {
  z-index: 10;
  pointer-events: all;
}

path:hover {
  opacity: 0.50;
  cursor: pointer;
}

